div.navigation {
    height: 30px;
    border-bottom: solid #000 1px;

}

div.navigation ul {

    margin: 0px;
    padding: 0px;
    white-space: nowrap;
	float:right;

}

div.navigation li {
    list-style-type: none;
    display: inline;
}

div.navigation li a {

    padding: 7px 10px;
}

div.navigation li a:link {

}

div.navigation li a:hover {

    font-weight: bold;

}

/* styles for the code block */

.code{

	margin: 0 ;

	padding: 0 ;

	border: 0 ;

	background-color: #F8F8FF ;

	text-align: left ;

	float: none ;

	vertical-align: baseline ;

	position: static ;

	left: auto ;

	top: auto ;

	right: auto ;

	bottom: auto ;

	height: auto ;

	width: 920px;
	word-break:break-all;
white-space:pre-wrap;
	font-family: "Consolas","Courier New","Verdana";

	font-size:14px;

}

.access{ color:blue;}

.modifier{ color:darkred;}

.control{ color:coral;}

.error{ color:red;}

.pkg{ color:deepskyblue; }

.basic{ color:navy;}

.ref{ color:gray;}

.comments{ color:#AA7700;}

.javaclass{ color:green;}
