<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE- 2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

  <link href="/odftoolkit_website/css/odf.css" rel="stylesheet" type="text/css">
  {% if header %}
  {% autoescape off %}{{ header }}{% endautoescape %}{% else %}
  <title>{% block title %}{{ headers.title }}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  {% endif %}
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28945571-1']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body>

  <div id="banner">  
    <div id="bannerright"><a alt="The Document Foundation" href="https://www.documentfoundation.org/">
        <img id="tdf-logo" class="w350" alt="The Document Foundation"
          src="/odftoolkit_website/images/LibreOffice-Initial-Artwork-Logo-ColorLogoBasic-500px.png" /></a></div>
  </div>
  <div id="clear"></div>
  {% if sidenav %}
  <div id="sidenav">
    {% filter markdown %}{% include "sidenav.mdtext" %}{% endfilter %}
  </div>
  <div id="contenta">
    {% else %}
    <div id="content">
      {% endif %}
      {% block title %}{% if headers.title %}<h1 class="title">{{ headers.title }}</h1>{% endif %}{% endblock %}
      {% block content %}{{ content|markdown }}{% endblock %}
    </div>
    
    <div id="footera">
      <div id="copyrighta">
        <p><a href="https://www.libreoffice.org/imprint" target="_blank">Impressum (Legal Info)</a> | <a
            href="https://www.libreoffice.org/privacy" target="_blank">Privacy Policy (Datenschutzerklärung)</a> | <a
            href="https://www.documentfoundation.org/statutes.pdf" target="_blank">Statutes (non-binding English
            translation)</a> - <a href="https://www.documentfoundation.org/satzung.pdf" target="_blank">Satzung (binding
            German version)</a> | Copyright information: Unless otherwise specified, all text and images on this website
          are licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License, v2.0</a>. This does not include the source code of LibreOffice, which
          is licensed under the <a href="https://www.libreoffice.org/download/license/" target="_blank">Mozilla Public
            License v2.0</a>. “LibreOffice” and “The Document Foundation” are registered trademarks of their
          corresponding registered owners or are in actual use as trademarks in one or more countries. Their respective
          logos and icons are also subject to international copyright laws. Use thereof is explained in our <a
            href="https://wiki.documentfoundation.org/TradeMark_Policy" target="_blank">trademark policy</a>.
          LibreOffice was based on OpenOffice.org.</p>
      </div>
    </div>   
  </div>
</body>
</html>