; This is a template for your build.properties file
; Change the options here and then save this file
; as 'build.properties' to have your options read
; by the Ant build process.
;--------------------------------------------------

; REQUIRED: Name of the schema file to process
schema=xtm.rng

; REQUIRED: 
saxon.jar=/home/kal/java/saxon6/saxon.jar

; OPTIONAL: Title to put on each diagram
;title='Schema Documentation'

; OPTIONAL: The kind of diagram key to produce
; Recognised values:
;   static : Generate a normal key at the bottom of the diagram
;  dynamic : Generate an animated, expandable key at the top of the diagram
;     none : Do not generate a key
; Default value = none. Any unrecognised value is also treated as 'none'.
;key=dynamic

; OPTIONAL: Space-separated list of element names to 
;           generate digrams for
;element-names='foo bar bletch'

; OPTIONAL: Space-separated list of define names to
;           generate diagrams for
;pattern-names='mydef another-def'
