text.diagram-title {
  font-size: 24pt;
  text-decoration: underline;
}

rect.background-rect {
  fill: #EEE;
  stroke: black;
  stroke-width: 2;
}

rect.pattern {
  fill: #EEF;
  stroke: grey;
  stroke-width: 3;
}

rect.pattern-optional {
  fill: #EEF;
  stroke: grey;
  stroke-width: 3;
  stroke-dasharray: 3,3;
}

rect.reference {
  fill: #FDF;
  stroke: grey;
  stroke-width: 3;
}

rect.reference-optional {
  fill: #FDF;
  stroke: grey;
  stroke-width: 3;
  stroke-dasharray: 3,3;
}

rect.element {
  fill:white;
  stroke: black;
  stroke-width: 2;
}

rect.element-optional {
  fill:white;
  stroke: black;
  stroke-width: 2;
  stroke-dasharray: 3,3;
}

rect.any-attribute {
  fill:#DFD;
  stroke: grey;
  stroke-width: 2;
}

rect.any-attribute-optional {
  fill:#DFD;
  stroke: grey;
  stroke-width: 2;
  stroke-dasharray: 3,3;
}

rect.any-element {
  fill:#FFA;
  stroke: grey;
  stroke-width: 2;
}

rect.any-element-optional {
  fill:#FFA;
  stroke: grey;
  stroke-width: 2;
  stroke-dasharray: 3,3;
}

text.element-name {
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
}

.tree-line {
  stroke: black;
  stroke-width: 1;
}

.text-marker-line {
  stroke: black;
  stroke-width: 1.5;
}


rect.attribute {
  fill:white;
  stroke: blue;
  stroke-width: 2;
}

rect.attribute-optional {
  fill:white;
  stroke: blue;
  stroke-width: 2;
  stroke-dasharray: 3,3;
}




