# see https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties
root=true

[*.{groovy,java,kt,xml}]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
tab_width = 4
indent_size = 1
max_line_length = off
charset = utf-8
