{% load markup %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Browse: {{ title }}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/code.css" />
  {% include "head.html" %}
  </head>
  <body>
    <h1>Browse: {{ title }}</h1>
<div id="breadcrumbs">{{ breadcrumbs|safe }}</div>
<a href="?action=edit">[Edit this directory]</a><br />
<a href="?action=update">[Update this directory]</a><br />
<a href="?action=diff" title="View Diff">[Diff this directory]</a><br />
<a href="http://ci.apache.org/builders/{{ project }}-site-staging">[View Staging Build]</a><br />
{% ifequal user "anonymous" %}{% else %}
<a href="/{{ project }}/publish">[Publish Site]</a>
{% endifequal %}<br />

{% if file_url %}
<h2>Directory Index File</h2>
<table class="dir" border=1 style="width:100%">
<tr><th>Browse Path</th><th>Status</th><th>Actions</th><th>Preview</th></tr>
<tr>

<td><a href="{{ file_url }}" title="{{ title }}">{{ file_url }}</a></td>
<td><pre class="status">{{ status }}</pre></td>
<td><a href="{{ file_url }}?action=edit">[Edit]</a>
<a href="{{ file_url }}?action=static" title="View Static">[Static]</a>
<a href="{{ file_url }}?action=staged" title="View Staged">[Staged]</a>
<a href="{{ file_url }}?action=production" title="View Production">[Production]</a>
</td>
<td><div style="overflow:auto; width:100%">
{% if file_content %}
  {{ file_content|markdown|truncatewords_html:100 }}
{% endif %}
</div></td>
</tr>
</table>
{% endif %}

{% if attachments %}
  <h2>Attachments</h2>
<table class="dir" border=1 style="width:100%">
<tr><th>Browse Path</th><th>Status</th><th>Actions</th><th>Preview</th></tr>
{% for e in attachments %}
<tr>

<td><a href="{{ e.path }}" title="{{ e.title }}">{{ e.link_content }}</a></td>
<td><pre class="status">{{ e.status }}</pre></td>
<td>
{% if e.status %}
<a href="{{ e.path }}?action=diff" title="View Diff">[Diff]</a>
{% ifequal user "anonymous" %}{% else %}
<a href="{{ e.path }}?action=commit">[Commit]</a>
{% endifequal %}
<a href="{{ e.path }}?action=revert">[Revert]</a>
{% endif %}
<a href="{{ e.path }}?action=edit">[Edit]</a>
<a href="{{ e.path }}?action=static" title="View Static">[Static]</a>
<a href="{{ e.path }}?action=staged" title="View Staged">[Staged]</a>
<a href="{{ e.path }}?action=production" title="View Production">[Production]</a>
</td>
<td><div style="overflow:auto; width:100%">
{% if e.is_image %}
  <img src="{{ e.path }}?action=static" title="{{ e.title }}"
       style="float:left" />
{% endif %}
{% if e.file_content %}
  {{ e.file_content|markdown|truncatewords_html:100 }}
{% endif %}
</div></td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if dir %}
<h2>Directory Listing</h2>
<table class="dir" border=1 style="width:100%">
<tr><th>Browse Path</th><th>Status</th><th>Actions</th><th>Preview</th></tr>
{% for e in dir %}
<tr>

<td><a href="{{ e.path }}" title="{{ e.title }}">{{ e.link_content }}</a></td>
<td><pre class="status">{{ e.status }}</pre></td>
<td>
{% if e.status %}
<a href="{{ e.path }}?action=diff" title="View Diff">[Diff]</a>
{% ifequal user "anonymous" %}{% else %}
<a href="{{ e.path }}?action=commit">[Commit]</a>
{% endifequal %}
<a href="{{ e.path }}?action=revert">[Revert]</a>
{% endif %}
<a href="{{ e.path }}?action=edit">[Edit]</a>
<a href="{{ e.path }}?action=static" title="View Static">[Static]</a>
<a href="{{ e.path }}?action=staged" title="View Staged">[Staged]</a>
<a href="{{ e.path }}?action=production" title="View Production">[Production]</a>
</td>
<td><div style="overflow:auto; width:100%">
{% if e.is_image %}
  <img src="{{ e.path }}?action=static" title="{{ e.title }}"
       style="float:left" />
{% endif %}
{% if e.file_content %}
  {{ e.file_content|markdown|truncatewords_html:100 }}
{% endif %}
</div></td>
</tr>
{% endfor %}
</table>
{% endif %}
  </body>
</html>
