<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    {% if error %}
    <title>Copy failed! ({{ http_status }})</title>
    {% else %}
    <title>Copy successful! ({{ http_status }})</title>
    {% endif %}
  {% include "head.html" %}
  </head>

  <body>
    {% if error %}
    <h1>Copy failed!</h1>
    <pre>{{ error }}</pre>
    {% else %}
    <h1>Copy successful!</h1>
<a href="{{ target }}?action=diff" title="View Diff">[Diff]</a>
{% ifequal user "anonymous" %}{% else %}
<a href="{{ target }}?action=commit">[Commit]</a>
{% endifequal %}
<a href="{{ target }}?action=staged" title="View Staged">[Staged]</a>
{% ifequal user "anonymous" %}{% else %}
<a href="/{{ project }}/publish">[Publish Site]</a>
{% endifequal %}
<a href="{{ target }}?action=production" title="View Production">[Production]</a>
<a href="{{ target }}?action=browse">[Browse]</a>
    {% endif %}
  </body>
</html>
