{% load markup %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Diff</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/code.css" />
  {% include "head.html" %}
  </head>

  <body>
    <h1>Diff</h1>
    <div id="breadcrumbs">{{ breadcrumbs|safe }}</div>
    <a href="?as_download=1">[Download Diff]</a>
    <a href="?action=mail">[Mail Diff]</a>
    {% ifequal user "anonymous" %}{% else %}
    <a href="?action=commit">[Commit]</a>
    {% endifequal %}
    <a href="?action=revert">[Revert]</a>
    <a href="?action=edit">[Edit]</a>
    <a href="?action=browse">[Browse]</a>
    <a href="/redirect?new=1;uri=http://{{ project }}.apache.org/" title="This is
    the Panic Button- be sure you really want to press it">[Force New
    {{ project }} Working Copy]</a>
    <br />
    {{ diff|markdown }}
  </body>
</html>
