<?xml version="1.0" encoding="UTF-8"?>
## Template to create the list of artefacts which are to be generated
##
## Documentation of template development can be found in local file
## src/main/resources/documentation/help.html
##
<filelist>
    <file path="hierarchy.py" template="pythontest.vm" />
</filelist>
